@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* My Custom CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* My Custom CSS Reset END*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsla(190, 100%, 94%, 0.894);
    font-size: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

input {
    max-width: 100px;
    padding: 4px;
    border: 1px solid hsl(212, 76%, 47%);
    background-color: hsl(196, 100%, 91%);
}

button {
    border: 1px solid hsl(212, 69%, 55%);
    padding: 4px 8px;
    background-color: hsl(206, 83%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.marked {
    background-color: hsl(205, 75%, 36%);
}