@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* My Custom CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* My Custom CSS Reset END*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfcfc;
    font-size: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

input {
    max-width: 100px;
    padding: 4px;
    border: 1px solid #1d73d4;
    background-color: #cff2ff;
}

button {
    border: 1px solid #3b86db;
    padding: 4px 8px;
    background-color: #51abef;
    color: #fff;
    cursor: pointer;
}

.marked {
    background-color: #1768a2;
}