@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* My Custom CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* My Custom CSS Reset END*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(0, 76%, 95%);
    font-size: 3rem;

}

table {
    border-spacing: 1;
}

table td {
    width: 5rem;
    height: 5rem;
    text-align: center;
    border: 2px solid hsl(0, 0%, 53%);
}

table td div {
    cursor: pointer;
    /* opacity: 0; */
}

.bomb {
    background-color: hsl(0, 89%, 61%);
    color: #fff;
    border-color: hsl(0, 100%, 50%);

}

.show {
    opacity: 1;
}