/* My Custom CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* My Custom CSS Reset END*/

body {
  margin: 5vw;
  text-align: center;
  font-family: arial;
}
label,
input {
  height: 40px;
  line-height: 40px;
  font-size: 30px;
}
div {
  border: 2px solid black;
  font-size: 40px;
  margin: 20px;
}

/*  input color after password entered */
.active {
  background-color: black;
  color: white;
}
