*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

button {
  display: block;
  margin: 50px auto;
  background-color: aquamarine;
  border: 5px solid cadetblue;
  padding: 20px 50px;
  font-size: 22px;
}

form {
  margin: 50px auto;
  text-align: center;
}

input {
  padding: 20px 50px;
  font-size: 30px;
  text-align: center;
}

div {
  padding: 20px 50px;
  font-size: 30px;
  text-align: center;
  color: blueviolet;
}
